body {
    background-color: white;
}
table {
    position: absolute;
    left: 50px;
    top: 50px;
    border-spacing: 0px;
    border: 2px solid green;
}
td {
    width: 30px;
    height: 30px;
}

.fill {
    background: red;
}

.point {
    background: blue;
}

.head {
    background: green;
}